.DS_Store
.idea/
node_modules/
*.log
db.json
public/
.deploy*/
package-lock.json
yarn.lock
build/
data.WordPress.2022-06-09.xml
tmp/
themes/hexo-theme-*
.yarn/cache
.yarn/version*
.yarn/*.gz

# Themes: Ignore all contents, but keep the .gitignore file
themes/*
!themes/.gitignore

# Posts: Ignore all contents in the root of _posts
source/_posts/*

# Exception: Keep all Markdown files in the root of _posts
!source/_posts/*.md

# Exception: Keep the 'yihui' folder and everything inside it
# (We must unignore the folder first so Git looks inside it)
!source/_posts/yihui/

# Specific ignores
source/page/random
source/hexo-search.json
_config.yml