[submodule "themes/claudia"]
	path = themes/claudia
	url = https://github.com/dimaslanjaka/hexo-theme-claudia.git
	branch = private
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/dimaslanjaka/hexo-theme-next.git
	branch = private
[submodule "source/assemble-boilerplate-markdown"]
	path = source/assemble-boilerplate-markdown
	url = https://github.com/assemble/assemble-boilerplate-markdown.git
