<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial('_partials/head.njk', {}, {cache: theme.cache.enable}) }}
  </head>
  <body>
    <!-- ------------------------------------ NAVBAR ------------------------------------- -->
    {{ partial('_partials/navbar.njk', {}, {cache: theme.cache.enable}) }}
    <!-- End Navbar -->
    <!-- ------------------------------------ HEADER ------------------------------------- -->{% block header %}
    {% endblock %}
    <!-- End Header -->
    <!-- ------------------------------------ MAIN ------------------------------------- -->{% block main %}
    {% endblock %}
    <!-- ------------------------------------ FOOTER ------------------------------------- -->{{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
    <!-- End Footer -->
    <!-- ------------------------------------ JAVASCRIPTS ------------------------------------- --><script src="{{ url_for("/assets/js/vendor/jquery.min.js") }}" type="text/javascript"> </script>
    <script src="{{ url_for("/assets/js/vendor/popper.min.js") }}" type="text/javascript"></script>
    <script src="{{ url_for("/assets/js/vendor/bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ url_for("/assets/js/functions.js") }}" type="text/javascript"></script>
  </body>
</html>