<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- page.title %> - EJS</title>
</head>

<body>
  <div>
    template engine
    <kbd>EJS</kbd>
  </div>

  <div>
    <%- page.content %>

    <hr>
    <% var related_post =  list_related_posts(post, {maxCount: 10, orderBy: 'date'}); %>
    <ul class="related-posts">
      <% for (var i = 0; i < related_post.length; i++) { %>
        <li class="related-posts-item">
          <a href="<%= url_for(related_post[i].path) %>"><%= related_post[i].title %></a>
        </li>
      <% } %>
    </ul>
  </div>
</body>

</html>