<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - NJK</title>
    <link rel="stylesheet" href="{{ url_for('css/bootstrap.css') }}">
  </head>
  <body>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('/') }}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </nav>
    <div class="mt-4 p-5 bg-primary text-white rounded">
      template engine
      <kbd>nunjucks</kbd>
    </div>
    <div>
      {{ page.content }}
    </div>
    <div>
      {% set related_post =  list_related_posts(post if post else page, {maxCount: 10, orderBy: 'date'}) %}
      {% if related_post.length > 0 %}
        <h3 class="article-title" style="font-size: 20px;">Related posts helper</h3>
        <ul class="related-posts">
          {% for rl_post in related_post %}
            <li class="related-posts-item">
              <a href="{{ url_for(rl_post.path) }}">{{ rl_post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </body>
</html>